<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.bankingapp.controller.ClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompteServlet</servlet-name>
        <servlet-class>com.bankingapp.controller.CompteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CompteServlet</servlet-name>
        <url-pattern>/compte</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OperationServlet</servlet-name>
        <servlet-class>com.bankingapp.controller.OperationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OperationServlet</servlet-name>
        <url-pattern>/operation</url-pattern>
    </servlet-mapping>

</web-app>
